{% include "base.html.twig" %}

{% for projets in projet %}
    {{ projets.title }}
    {{ projets.description }}
    {{ projets.category.name }}
     <br>
    
   <a href="{{path('projetId',{'id':projets.id})}}"> <img id="saaa"src="{{ projets.images }}" alt=""></a>

{% endfor %}