{% include "base.html.twig" %}

<div class="container-fluid">
  <div class="row">
  {% for projets in projet %}
    <div class="col-md-4">
    <div id="block">
        {{ projets.title }}
        {{ projets.description }}
        {{ projets.category.name }}
      <br>
      
        <a href="{{path('projetId',{'id':projets.id})}}"> <img class="img_projet" src="{{ projets.images }}" alt=""></a>
  </div>
  </diV>
  {% endfor %}
      </div>

</div>